Repository LSSTDESC/gcr-catalogs, pull requests merged in 2018-06, with the labels that each got.

#111 flip shear_2 sign and add shear_2_phosim
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/alphaq.py
  GCRCatalogs/buzzard.py
  GCRCatalogs/version.py
Labels: reader, schema

#116 Lensed Magnitudes
  GCRCatalogs/alphaq.py
Labels: enhancement, reader

#121 add shear_2_treecorr
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/alphaq.py
  GCRCatalogs/buzzard.py
Labels: reader

#122 bug fix for older version (<=2.1.1)
  GCRCatalogs/alphaq.py
Labels: bug, reader

#113 Make instance catalog reader parse AGN entries
  GCRCatalogs/catalog_configs/instance_2145656.yaml
  GCRCatalogs/catalog_configs/instance_2443890.yaml
  GCRCatalogs/catalog_configs/instance_test.yaml
  GCRCatalogs/instance_catalog.py
Labels: configs, reader

#124 Move DC2 catalog readers from DC2_Repo to here
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p.yaml
  GCRCatalogs/catalog_configs/dc2_instance_example1.yaml
  GCRCatalogs/catalog_configs/dc2_instance_example2.yaml
  GCRCatalogs/catalog_configs/dc2_reference_run1.1p.yaml
  GCRCatalogs/catalog_configs/dc2_reference_run1.2p.yaml
  GCRCatalogs/dc2_coadd.py
  GCRCatalogs/reference_catalog.py
  setup.py
Labels: configs, reader
