Repository LSSTDESC/gcr-catalogs, pull requests merged in 2018-09, with the labels that each got.

#183 add support to legacy instance catalogs
  GCRCatalogs/instance_catalog.py
Labels: enhancement, reader

#188 New addon catalog for Cosmo dc2 v1.0 (image subset)
  GCRCatalogs/catalog_configs/cosmoDC2_v1.0_image_addon_knots.yaml
  GCRCatalogs/cosmodc2.py
Labels: add-on, configs, reader

#191 Use nside info to set default sky area when not available in file metadata
  GCRCatalogs/cosmodc2.py
  setup.py
Labels: enhancement, reader

#189 implement file size check
  GCRCatalogs/catalog_configs/_cosmoDC2_check.yaml
  GCRCatalogs/cosmodc2.py
Labels: enhancement, reader

#194 turn off checks for some older catalogs to suppress warning
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5.yaml
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5_shear.yaml
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5_test.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v0.1.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v0.1_test.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v0.4_test.yaml
  GCRCatalogs/cosmodc2.py
Labels: configs, enhancement, reader

#195 add back the missing healpixel 10444
  GCRCatalogs/catalog_configs/cosmoDC2_v1.0_10194_10452.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.0_image.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.0_image_addon_knots.yaml
Labels: configs
