Repository LSSTDESC/gcr-catalogs, pull requests merged in 2018-07, with the labels that each got.

#102 Focal Plane reader
  GCRCatalogs/catalog_configs/focal_plane_0_test.yaml
  GCRCatalogs/catalog_configs/focal_plane_16_test.yaml
  GCRCatalogs/focal_plane.py
  setup.py
Labels: configs, reader

#60 add version, total ellipticity & position angle to buzzard
  GCRCatalogs/buzzard.py
  GCRCatalogs/catalog_configs/buzzard_high-res_v1.1.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_1.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_2.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_21.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_3.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_5.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_test.yaml
Labels: configs, reader

#126 Coadd reader
  .gitignore
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p_tract4850.yaml
  GCRCatalogs/dc2_coadd.py
  README.md
Labels: configs, enhancement, reader

#134 add mag_<band> as aliases for mag_<band>_lsst
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/alphaq.py
  GCRCatalogs/buzzard.py
Labels: reader, schema

#129 update reference catalog reader
  GCRCatalogs/reference_catalog.py
Labels: enhancement, reader

#133 Fix issues #131 #132 #136 for coadd reader
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p.yaml
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p_tract4850.yaml
  GCRCatalogs/dc2_coadd.py
Labels: reader, schema

#137 update front-page README
  .travis.yml
  README.md
Labels: documentation

#138 Adds reader for HSC flat catalog
  GCRCatalogs/catalog_configs/hsc-pdr1-xmm.yaml
  GCRCatalogs/dc2_coadd.py
  README.md
Labels: configs, reader

#141 use string-like native filter as where conditions
  GCRCatalogs/dc1.py
  setup.py
Labels: enhancement, reader

#149 update definition of `clean` in SCHEMA.md
  GCRCatalogs/SCHEMA.md
Labels: schema

#144 U/danielsf/dc2/truth
  GCRCatalogs/catalog_configs/dc2_truth_run1.1.yaml
  GCRCatalogs/dc2_truth.py
  setup.py
Labels: configs, reader

#148 update native_filters behavior for GCR 0.7.1
  GCRCatalogs/alphaq.py
  GCRCatalogs/buzzard.py
  GCRCatalogs/dc1.py
  GCRCatalogs/dc2_coadd.py
  setup.py
Labels: enhancement, reader

#150 add sigma8 and n_s to the cosmology attribute
  GCRCatalogs/alphaq.py
  GCRCatalogs/buzzard.py
  GCRCatalogs/catalog_configs/buzzard_high-res_v1.1.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_1.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_2.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_21.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_3.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_5.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.6_test.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v2.0_redmapper.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v3.0_redmapper.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v4.3_redmapper.yaml
  GCRCatalogs/redmapper.py
Labels: enhancement, reader

#147 make reader works with table format
  GCRCatalogs/dc2_coadd.py
Labels: enhancement, reader

#153 update truth catalog reader to address #152
  GCRCatalogs/alphaq.py
  GCRCatalogs/catalog_configs/dc2_truth_run1.1p.yaml
  GCRCatalogs/dc2_truth.py
  GCRCatalogs/utils.py
Labels: reader

#155 Remove `p` from truth and reference catalog names
  GCRCatalogs/catalog_configs/dc2_reference_run1.1.yaml
  GCRCatalogs/catalog_configs/dc2_reference_run1.2.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run1.1.yaml
  README.md
Labels: configs

#154 update protoDC2 version to v5.0.0
  GCRCatalogs/alphaq.py
  GCRCatalogs/catalog_configs/proto-dc2_v5.0.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v5.0_test.yaml
  GCRCatalogs/catalog_configs/protoDC2.yaml
  GCRCatalogs/catalog_configs/protoDC2_test.yaml
Labels: configs, reader

#156 cosmoDC2 reader
  .travis.yml
  GCRCatalogs/catalog_configs/cosmoDC2_v0.1.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v0.1_test.yaml
  GCRCatalogs/cosmodc2.py
  GCRCatalogs/version.py
  README.md
Labels: configs, developing, reader

#158 Issues/142/quantity info dict
  GCRCatalogs/catalog_configs/_dc2_coadd_meta.yaml
  GCRCatalogs/dc2_coadd.py
Labels: reader

#123 UniverseMachine baseline healpix catalog reader
  GCRCatalogs/catalog_configs/um_v0.1.yaml
  GCRCatalogs/catalog_configs/um_v0.1_shear_test.yaml
  GCRCatalogs/catalog_configs/um_v0.1_test.yaml
  GCRCatalogs/cosmodc2.py
Labels: configs, reader

#165 rename coadd --> object
  GCRCatalogs/catalog_configs/_dc2_object_meta.yaml
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p.yaml
  GCRCatalogs/catalog_configs/dc2_coadd_run1.1p_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.1p.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.1p_tract4850.yaml
  GCRCatalogs/catalog_configs/hsc-pdr1-xmm.yaml
  GCRCatalogs/dc2_object.py
Labels: configs
