Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-01, with the labels that each got.

#245 Add ability to read new redMaPPer python catalogs to GCReader
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_redmapper_v0.2.1py.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v2.0_redmapper.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v3.0_redmapper.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v4.3_redmapper.yaml
  GCRCatalogs/redmapper.py
Labels: add-on, configs, reader

#249 Update .travis.yml
  .travis.yml
Labels: test

#247 Single visit catalog
  GCRCatalogs/butler_interface.py
  GCRCatalogs/catalog_configs/dc2_single_visit_run2.1i_237263r.yaml
Labels: catalog, reader

#252 Do not display Run 1.2i alpha object catalogs by default
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_alpha.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_alpha_all_columns.yaml
Labels: configs

#250 Update README.md to reflect correct number of healpixels in cosmoDC2_*_small catalogs
  README.md
Labels: documentation
