Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-02, with the labels that each got.

#257 Issues/256
  GCRCatalogs/catalog_configs/dc2_object_run1.2p.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v3.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v3_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v3_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v4.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v4_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v4_tract4850.yaml
Labels: configs, object-catalog

#259 U/yymao/better online check warning
  GCRCatalogs/register.py
Labels: register

#263 Issues/254
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_tract4850.yaml
  GCRCatalogs/dc2_object.py
Labels: configs, object-catalog, reader

#266 Add photo-z catalog reader and configs
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_all_columns_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v3_all_columns_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2p_v3_with_photoz.yaml
  GCRCatalogs/catalog_configs/photoz_dc2_object_run1.2i.yaml
  GCRCatalogs/catalog_configs/photoz_dc2_object_run1.2p_v3.yaml
  GCRCatalogs/photoz.py
  README.md
Labels: composite, configs, reader

#270 U/wmwv/update schema with cmodel njy
  GCRCatalogs/SCHEMA.md
Labels: documentation, schema

#260 Buzzard 1.9
  GCRCatalogs/buzzard.py
  GCRCatalogs/catalog_configs/buzzard.yaml
  GCRCatalogs/catalog_configs/buzzard_test.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.9.2_3.yaml
  GCRCatalogs/catalog_configs/buzzard_v1.9.2_test.yaml
  README.md
Labels: configs, reader
