Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-04, with the labels that each got.

#275 photo-z calibration catalog reader
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_image_photoz_calib.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_small_photoz_calib.yaml
  GCRCatalogs/catalog_configs/pz_calibrate_references_cosmoDC2_v1.1.4_image.yaml
  GCRCatalogs/catalog_configs/pz_calibrate_references_cosmoDC2_v1.1.4_small.yaml
  GCRCatalogs/photoz_calibrate.py
Labels: composite, configs, reader

#286 Proposed changes to fix halo_mass bugs
  GCRCatalogs/cosmodc2.py
Labels: reader

#284 Snapshot catalog reader and configuration files
  GCRCatalogs/catalog_configs/baseDC2_snapshot_z0.15_v0.1.yaml
  GCRCatalogs/catalog_configs/baseDC2_snapshot_z0.15_v0.1_small.yaml
  GCRCatalogs/catalog_configs/baseDC2_snapshot_z1.01_v0.1.yaml
  GCRCatalogs/cosmodc2.py
Labels: configs, reader
