Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-09, with the labels that each got.

#370 Rewrite _generate_modifiers for Parquet Object Catalog to calculate magnitudes.
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_object.py
Labels: dpdd-catalog, reader

#378 update version to 0.14.2
  GCRCatalogs/version.py
Labels: release

#381 allows multi-character filters in object catalog reader
  GCRCatalogs/dc2_object.py
Labels: dpdd-catalog, enhancement, reader

#379 add run2.1.1i object catalog
  GCRCatalogs/catalog_configs/dc2_object_run2.1.1i.yaml
Labels: configs, dpdd-catalog

#386 exclude internal column names when extracting columns from parquet files
  GCRCatalogs/dc2_dm_catalog.py
Labels: bug, dpdd-catalog, reader
