Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-07, with the labels that each got.

#335 Update to v0.12.0
  GCRCatalogs/version.py
Labels: release

#338 Add hack to replace 'obshistid' with 'obs_meta.obshistid' in SQL query.
  GCRCatalogs/dc2_truth.py
Labels: bug, reader

#341 Issues/339
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_parquet.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850_parquet.yaml
Labels: configs

#342 photo-z catalog reader (for Run 2.1i DR1b)
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_all_columns_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_with_photoz.yaml
  GCRCatalogs/photoz.py
Labels: configs, reader

#344 h5py `Dataset.value` property deprecated
  GCRCatalogs/alphaq.py
  GCRCatalogs/alphaq_addon.py
  GCRCatalogs/cosmodc2.py
  GCRCatalogs/dc2_truth.py
Labels: reader

#336 Metacal catalog for run2.1i coaddv1
  GCRCatalogs/catalog_configs/dc2_metacal_griz_run2.1i_dr1a.yaml
  GCRCatalogs/catalog_configs/dc2_metacal_griz_run2.1i_dr1a_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_tract4850_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_with_metacal_griz.yaml
Labels: configs, dpdd-catalog

#349 Implement faster `__len__` method for DC2 object, DM, and composite catalogs
  GCRCatalogs/composite.py
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_object.py
Labels: enhancement, reader

#353 Use DR1b parquet format as the default for DR1 object catalog
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850.yaml
Labels: configs

#354 add Run2.1i object catalogs for DR4
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract4850_all_columns.yaml
Labels: configs

#356 improve & refactor `DC2DMCatalog`
  GCRCatalogs/dc2_dm_catalog.py
Labels: dpdd-catalog, enhancement, reader

#343 Prepare for v0.13.0 release
  GCRCatalogs/version.py
  setup.py
Labels: release

#357 update dr1a metacal configs to improve performance
  GCRCatalogs/catalog_configs/dc2_metacal_griz_run2.1i_dr1a_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_tract4850_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_with_metacal_griz.yaml
Labels: configs

#350 Metacal catalog for dr1b
  GCRCatalogs/catalog_configs/dc2_metacal_griz_run2.1i_dr1b.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_parquet.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_with_metacal_griz.yaml
  GCRCatalogs/dc2_object.py
Labels: composite, configs, dpdd-catalog

#359 Update version.py
  GCRCatalogs/version.py
Labels: release

#360 allows customized dataset "info" (tract, visit, etc; parsed from filename) for `DC2DMCatalog`
  GCRCatalogs/dc2_dia_object.py
  GCRCatalogs/dc2_dia_source.py
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_forced_source.py
  GCRCatalogs/dc2_metacal.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/dc2_source.py
Labels: bug, dpdd-catalog, reader

#363 Clean up Run 2.1i object configs
  GCRCatalogs/catalog_configs/dc2_metacal_run1.2i_tract5063.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_with_photoz_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_tract4850_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_all_columns_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_parquet.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850_parquet.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_tract4850_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_with_metacal_griz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_all_columns.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract4850.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract4850_all_columns.yaml
  GCRCatalogs/dc2_dm_catalog.py
  README.md
Labels: configs, dpdd-catalog, reader

#364 preparing for v0.14.0 release
  GCRCatalogs/version.py
Labels: release
