Repository LSSTDESC/gcr-catalogs, pull requests merged in 2019-05, with the labels that each got.

#292 Adds support for metacal catalog
  GCRCatalogs/catalog_configs/_dc2_metacal_meta.yaml
  GCRCatalogs/catalog_configs/dc2_metacal_run1.2i_tract5063.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_tract5063.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_tract5063_with_metacal.yaml
  GCRCatalogs/dc2_metacal.py
Labels: configs, object-catalog, reader

#297 Adds documentation for metacal catalog.
  README.md
Labels: documentation

#299 switch from yaml.load to yaml.safe_load
  GCRCatalogs/cosmodc2.py
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/photoz.py
  GCRCatalogs/register.py
Labels: reader, register

#294 fix masses and positions to match schema and report correct units
  GCRCatalogs/alphaq.py
  GCRCatalogs/cosmodc2.py
Labels: reader

#311 remove baseDC2 v0.4.5
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5.yaml
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5_shear.yaml
  GCRCatalogs/catalog_configs/baseDC2_v0.4.5_test.yaml
Labels: bug, catalog, configs

#308 serialize the metadata dump for photoz catalog
  GCRCatalogs/photoz.py
Labels: bug, reader

#312 Fix path in dc2_object_run1.2i_alpha.yaml
  GCRCatalogs/catalog_configs/dc2_object_run1.2i_alpha.yaml
Labels: bug, configs

#316 remove `dc1` catalog
  GCRCatalogs/catalog_configs/dc1.yaml
  GCRCatalogs/dc1.py
  README.md
  setup.py
  tests/test_import.py
Labels: configs, documentation, reader

#318 fix eimages catalog paths
  GCRCatalogs/catalog_configs/dc2_eimages_run1.2i_visit-181898.yaml
  GCRCatalogs/catalog_configs/dc2_eimages_run1.2p_visit-181898.yaml
Labels: bug, configs

#317 Adding `members_only` option for redmapper catalogs
  GCRCatalogs/catalog_configs/proto-dc2_v3.0_addon_redmapper.yaml
  GCRCatalogs/catalog_configs/proto-dc2_v4.3_addon_redmapper.yaml
  GCRCatalogs/composite.py
  GCRCatalogs/redmapper.py
Labels: composite
