Repository LSSTDESC/gcr-catalogs, pull requests merged in 2020-12, with the labels that each got.

#508 Use MATCHING_FORMAT for Javi's matched add-ons
  GCRCatalogs/catalog_configs/dc2_object_run2.1.1i_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b_matched_addon_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6c_matched_addon.yaml
  GCRCatalogs/dc2_matched_table.py
Labels: composite, configs, reader

#506 Fix a small typo
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_redmapper_v0.2.1py.yaml
Labels: configs

#505 Use the improved composite in GCR v0.9.0
  GCRCatalogs/composite.py
  setup.py
Labels: composite, gcr-base-class

#507 Change decode to be compatible with v2 and v3 of h5py
  GCRCatalogs/agn.py
  GCRCatalogs/alphaq.py
  GCRCatalogs/cosmodc2.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/utils.py
Labels: reader

#512 add in Run2.2i DR2 object and metacal
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_v1.yaml
  README.md
Labels: catalog-data, configs, dpdd-catalog

#504 Truth-match catalog reader
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_with_truth_match.yaml
  GCRCatalogs/catalog_configs/dc2_truth_match_run2.2i_dr6_wfd.yaml
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_truth_match.py
Labels: configs, reader

#513 add dr2 truth-match catalog config
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_with_truth_match.yaml
  GCRCatalogs/dc2_truth_match.py
  setup.py
Labels: configs, reader

#519 Improve parquet reading performance/memory usage for arrow 0.16+
  GCRCatalogs/parquet.py
Labels: enhancement, reader

#518 Update "meta" (quantity info) files for object and truth-match catalogs
  GCRCatalogs/catalog_configs/_dc2_object_meta.yaml
  GCRCatalogs/catalog_configs/_dc2_truth_match_meta.yaml
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/dc2_truth_match.py
Labels: reader

#520 Bug fix in truth match catalog
  GCRCatalogs/dc2_truth_match.py
Labels: bug, reader

#511 Update workflows
  .github/workflows/desc-env-test.yml
  .github/workflows/python-ci-test.yml
Labels: test

#526 Fix typos/issues in the schema meta files
  GCRCatalogs/catalog_configs/_dc2_object_meta.yaml
  GCRCatalogs/catalog_configs/_dc2_truth_match_meta.yaml
Labels: schema

#521 Make get_quantity_info work with "_truth" postfix in truth-match add-on
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_truth_match.py
  setup.py
Labels: enhancement, reader

#525 Prepare for v1.1.0 release
  GCRCatalogs/version.py
  setup.py
Labels: release

#522 Allow catalog config to overwrite `meta_path` for DC2DMCatalog
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/register.py
Labels: dpdd-catalog, enhancement, reader, register

#496 Skysim5000
  GCRCatalogs/catalog_configs/skysim5000_v1.1.1.yaml
  GCRCatalogs/catalog_configs/skysim5000_v1.1.1_image.yaml
  GCRCatalogs/catalog_configs/skysim5000_v1.1.1_small.yaml
  GCRCatalogs/catalog_configs/skysim5000_v2.0.1_small_colortest.yaml
  GCRCatalogs/cosmodc2.py
Labels: configs, reader

#515 Add _pixel postfix to I<xx,yy,xy> and family
  GCRCatalogs/SCHEMA.md
  GCRCatalogs/dc2_object.py
Labels: dpdd-catalog, reader, schema

#528 Clean up catalog configs and README
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_wfd.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_wfd_v1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_wfd_v1_with_addons.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_wfd_with_addons.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr2_with_truth_match.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3a.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3a_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3a_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_v1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_v1_with_addons.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_matched.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_v1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_v1_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_wfd_with_truth_match.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6_with_addons.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_matched.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6b.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6c.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6c_matched.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6c_matched_addon.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6c_with_metacal.yaml
  GCRCatalogs/catalog_configs/dc2_truth_match_run2.2i_dr6_wfd.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_star_lc_stats.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_summary_tract_partition.yaml
  GCRCatalogs/catalog_configs/photoz_dc2_object_run2.2i_dr6.yaml
  GCRCatalogs/register.py
  README.md
Labels: configs, documentation

#529 Add `public_release` keyword; adjust `get_available_catalogs` behavior accordingly
  CONTRIBUTING.md
  GCRCatalogs/register.py
Labels: documentation, enhancement, register

#532 Bug fix: allow non-string values in `info_dict`
  GCRCatalogs/dc2_dm_catalog.py
Labels: bug, reader
