Repository LSSTDESC/gcr-catalogs, pull requests merged in 2020-07, with the labels that each got.

#468 add Run 2.2i dr6a object+metacal composite catalog
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_with_metacal.yaml
Labels: configs

#472 Added matched files for DR6a
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_matched.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_matched_addon.yaml
Labels: catalog-data, configs

#473 Preparing v0.19.0 release
  GCRCatalogs/version.py
Labels: release
