Repository LSSTDESC/gcr-catalogs, pull requests merged in 2020-05, with the labels that each got.

#427 Update to v0.16.1
  GCRCatalogs/version.py
Labels: release

#430 Refactor register.py
  .github/workflows/pythonpackage.yml
  GCRCatalogs/register.py
Labels: register

#434 Fix two issues in a recent test run
  GCRCatalogs/dc2_dia_object.py
  GCRCatalogs/dc2_dia_source.py
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_forced_source.py
  GCRCatalogs/dc2_matched_table.py
  GCRCatalogs/dc2_metacal.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/dc2_photoz_parquet.py
  GCRCatalogs/dc2_source.py
Labels: priority:high, reader

#437 Protect against tract/visit being set to None
  GCRCatalogs/dc2_dm_catalog.py
Labels: bug, reader

#436 More bug fixes to legacy catalogs
  GCRCatalogs/catalog_configs/dc2_instance_example1.yaml
  GCRCatalogs/catalog_configs/dc2_instance_example2.yaml
  GCRCatalogs/catalog_configs/hsc-pdr1-xmm.yaml
  GCRCatalogs/dc2_dia_object.py
  GCRCatalogs/dc2_object.py
  GCRCatalogs/instance_catalog.py
  GCRCatalogs/version.py
  README.md
Labels: bug, configs, reader

#431 added another realization of buzzard v2.0
  GCRCatalogs/catalog_configs/buzzard_v2.0.0_4.yaml
Labels: configs

#433 allows deprecated key in config
  GCRCatalogs/register.py
Labels: enhancement, priority:high, reader

#441 Better information and tools for setting root dir
  GCRCatalogs/register.py
Labels: register
