Repository LSSTDESC/gcr-catalogs, pull requests merged in 2020-06, with the labels that each got.

#451 Deprecate Run 2.1
  GCRCatalogs/catalog_configs/dc2_object_run2.1.1i.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i _tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1a.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr1b.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_dr4_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_tract3830.yaml
  README.md
Labels: configs

#453 Update photo-z entries in README
  README.md
Labels: documentation

#458 Add back some old photoz configs for backward compatibility
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_image_photoz_calib.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_image_photoz_magerr_10y.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_small_photoz_calib.yaml
  GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_small_photoz_magerr_10y.yaml
Labels: configs

#449 Re-organize SCHEMA.md
  GCRCatalogs/SCHEMA.md
Labels: documentation, schema

#459 Remove ambiguous Run 2.1i configs
  GCRCatalogs/catalog_configs/dc2_object_run2.1i _tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.1i_tract3830.yaml
Labels: configs

#464 Add Run 2.2i dr6b
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6a_with_photoz.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr6b.yaml
  GCRCatalogs/catalog_configs/photoz_dc2_object_run2.2i_dr6a.yaml
Labels: configs

#455 U/jrbogart/truth parquet reader
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_galaxy_truth_summary.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_sn_truth_summary.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_sn_variability_truth.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_star_lc_stats.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_star_truth_summary.yaml
  GCRCatalogs/catalog_configs/dc2_truth_run2.2i_star_variability_truth.yaml
  GCRCatalogs/dc2_dm_catalog.py
  GCRCatalogs/dc2_truth_parquet.py
  GCRCatalogs/parquet.py
  GCRCatalogs/parse_utils.py
Labels: reader
