Repository LSSTDESC/gcr-catalogs, pull requests merged in 2020-03, with the labels that each got.

#417 added buzzard v2.0
  GCRCatalogs/buzzard.py
  GCRCatalogs/catalog_configs/buzzard.yaml
  GCRCatalogs/catalog_configs/buzzard_test.yaml
  GCRCatalogs/catalog_configs/buzzard_v2.0.0_3.yaml
  GCRCatalogs/catalog_configs/buzzard_v2.0.0_test.yaml
Labels: configs

#419 Add object and metacal catalog configs for Run2.2i DR3
  GCRCatalogs/catalog_configs/dc2_metacal_run2.2i_dr3.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3_tract3830.yaml
  GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3_with_metacal.yaml
  GCRCatalogs/dc2_metacal.py
  GCRCatalogs/dc2_object.py
  README.md
Labels: configs, dpdd-catalog, priority:high, reader

#420 Prepare new release v0.15.0
  GCRCatalogs/version.py
Labels: release
